@model FrostFlow.Models.AirConditioner

<link rel="stylesheet" href="~/css/AirConditionerDetails.css" asp-append-version="true" />

@{
	ViewData["Title"] = "Details";
}

<div class="container">
	<h2>@Model.ModelName</h2>

	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-6">
			<p><strong>Brand:</strong> @Model.Brand</p>
			<p><strong>Price:</strong> @Model.Price</p>
			<p><strong>Description:</strong> @Model.Description</p>
			<p><strong>Type:</strong> @Model.Type</p>
		</div>
	</div>

	<a href="@Url.Action("Index", "AirConditioner")" class="btn btn-primary mt-3">Back to List</a>
</div>
